
<div style="margin-top: 30px;margin-left: 50px;" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search hero name</mat-label>
     <input matInput value="" [(ngModel)]="searchName">
  </mat-form-field>
</div>
 <button (click)="search()" mat-button style="margin-left: 50px; background-color: rgb(78, 78, 148); color: #ffffff;" >Search</button>
 <button (click)="resetSearch()" mat-button style="margin-left: 50px; background-color: rgb(78, 78, 148); color: #ffffff;" >Reset Search</button>

<div class="grid grid-pad">
  <a *ngFor="let bot of robots" class="col-1-4"
      routerLink="/hero/{{bot.id}}">
    <div class="">
      <img src='https://robohash.org/{{bot.name}}?200*200'>
      <h4>{{bot.name}}</h4>
    </div>
  </a>
</div>
